<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {{> head}}
</head>
<body>
    <nav class="navbar navbar-expand-lg top bg-dark text-white">
        <div class="container">
            <ul class="navbar-nav">
                <a href="/" style="color : white;">
                <li class="nav-item mr-5">Home</li>
                </a>
                <a href="/about" style="color : white;">
                <li class="nav-item mr-5">About</li>
                </a>
                <li class="nav-item mr-5">Contact</li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">

    <h2>
        {{title}} by {{name}}
        <img src="/images/profile-pic.svg" width="100" alt="profile-pic">
    </h2>
    </div>

</body>
</html>