<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {{> head}}
</head>
<body>
    {{> navbar }}
    <div class="container mt-5">

    <h2>
        {{title}} by {{name}}
        <img src="/images/profile-pic.svg" width="100" alt="profile-pic">
    </h2>
    </div>

</body>
</html>