<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {{> head}}
</head>
<body>
    {{> navbar }}
    <div class="container mt-5">

    <h2>
        {{title}} by {{name}}
        <br>
        <img src="/images/profile-pic.svg" width="100" alt="profile-pic">
    </h2>
    </div>

<footer class="color-section" id="footer">
  <p>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100062117768400">
      <i class="social-icon zmdi zmdi-facebook"></i>
    </a>
    <a target="_blank" href="#">
      <i class="social-icon zmdi zmdi-twitter"></i>
    </a>
    <a target="_blank" href="https://www.instagram.com/pacifier_alchemy/">
      <i class="social-icon zmdi zmdi-instagram"></i>
    </a>
    <a target="_blank" href="mailto:prashantrawat2com@gmail.com">
      <i class="social-icon zmdi zmdi-email"></i>
    </a>
  </p>
  <h5 class="footer-note">© Copyright 2020 Pacifier Alchemy</h5>

</footer>

</body>
</html>