<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    {{> head}}
   </head>
<body>
    {{> navbar}}
    <div class="container mt-5">

    {{> header}}

    <form class="form-group">
        <input type="text" class="form-control mt-3" name="" id="inputPlaceName" placeholder="Location">
        <button type="submit" class="btn btn-dark mt-3">Search</button>
    </form>
        <img src="" width="300" alt="" id="imageForecast">
        <div style="display : float; float: left;">
            <p id="msg-1"></p>
            <p id="msg-2"></p>
        </div>
        <div style="display : float; float: right;">
            <p id="msg-3"></p>
            <p id="msg-4"></p>
        </div>
    </div>

    <script src="./js/events.js"></script>
</body>
</html>